* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    min-width: 320px;
}

.content {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .content {
        max-width: 60%;
        margin: 0 auto;
    }
}